input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px;  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }

  /* A background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}