body {
    font-family: 'Roboto', 'Lato', sans-serif;
    background-color: white;
    text-align: center;
}

#logo {
    float: left;
    font-size: 40px;
}


#menu {
    font-size: 30px;
    margin: 2px;
    padding: 2px;
    border: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: 4px;
}

#menu li {
    margin: 0 30px 0 0;
    padding: 0;
    border: none;
    float: right;
    list-style-type: none;
}


#hero-image {
    height: 100%;
    width: 100%;
    margin: 0;
    background: url("../imgs/hero-image-horse.jpg") no-repeat center center;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: static;
}

#cover-text,
h2 {
    color: white;
}

#cover-text {
    float: right;
    font-size: 120%;
    font-family: 'Roboto';
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align-last: left;
    width: max-content;
    height: min-content;
    padding: 0;
    margin: 0;
    background-color: rgb(64, 119, 201);
    opacity: .7;
    bottom: 300px;
    right: 150px;
    position: absolute;
}

#about {
    color: #000000;
    font-family: 'Roboto';
}

#about-left,
#about-right,
#about-center {
    width: 33%;
    color: #000000;
}


#about-center > img {
    width: 60%;
    border-radius: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}


.about-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#times {
    border: 3px gray solid;
    background-image: url('../imgs/HD-wallpaper-horseback-riding-riders-equine-beautiful-horse-riding-animal-graphy-wide-screen.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#times div {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#times > h2,
h3 {
    color: white;
    font-size: 14px;
}

footer > p {
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 900;
}

footer {
    width: 100%;
    background-color: #525252;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
}

/* For medium screen sizes from 950px wide and down */
@media screen and(max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }
}
