body {
    width: max-content;
    margin: 0;
    background-color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    font-family: 'Roboto', 'Lato', sans-serif;
    background-color: rgba(165, 229, 238, 0.432);
}